.ProjectContainer{
    width: 460px;
    height: auto;
    min-height: 480px;
    border-radius: 13px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    padding: 30px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition: background 1s, border 1s;

}
.darkMode-Container{
    background-color: #232531;
    border: 1px solid rgba(48, 48, 48, 0.45);
    transition: background 1s, border 1s;
    
}
.ProjectHeader{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.user{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.darkMode-Container > .ProjectHeader > .user > h3{
    color: white;
    transition: color 1s;

}
.darkMode-Container > .ProjectHeader > .date > h3{
    color: #b9b9b9;
    transition: color 1s;

}
.darkMode-Container > .description > p{
    color: #b9b9b9;
    transition: color 1s;

}
.darkMode-Container > .tags > .projectTag > h5{
    color: #b9b9b9;
    transition: color 1s;

}
.user > img{
    width: 36px;
    height: 36px;
    border-radius: 100%;
    
}
.user > h3{
    color: #000;
font-family: Open Sans;
font-size: 14px;
margin: 0;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.date > h3{
    color: rgba(0, 0, 0, 0.54);
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.imagePrincipal{
    width: 100%;
    height: 282.241px;
}
.imagePrincipal >img{
    width: 100%;
    object-fit: cover;
    image-rendering:auto;
    border-radius: 4px;
    transition: 1s;
    height: 282px;
}
.projectTag{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 20px;
    min-width: 40px;
    background-color: rgb(43, 43, 43);
}
.tags{
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
}
.projectTag > h5{
    margin: 0;
    color: white;
    font-size: 10px;
    font-family: Capriola;
    
}
.widgets{
    margin-top: 10px;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.webWidgets > img{
    height: 25px;
}
.webWidgets{
    display: flex;
    gap: 12px;
}
.share > img{
    height: 25px;
}
.share > img:hover{
    cursor: pointer;
}
.share{
    position: relative;
    display: flex;
}
.copyWidget{
   position: absolute;
   top: -70px;
   border: 1px solid #dadada;
    
   left: -45px;
   width: 100px;
   padding: 3px;
   height: 40px;
   background-color: rgb(255, 255, 255);
   border-radius: 10px;
   opacity: 0;
   display: flex;

   align-items: center;
   justify-content: center;

}
.copyWidget > h4{
    font-family: Open Sans;
    font-size: 12px;
    text-align: center;
    z-index: 10;

    color: black;

}
.copyWidget::after{
    width: 15px;
    height: 15px;
    bottom: -4px;

    z-index: -1;    
    background-color: #dadada;
    position: absolute;
    content: "";
    transform: rotateZ(45deg);
}
.share >img:hover ~ .copyWidget{
    opacity: 1;
    top: -60px;
    transition: top 0.3s ease-in-out ;
    
}


.description > p{
    color: rgba(0, 0, 0, 0.54);
font-family: Open Sans;
font-size: 15px;
font-style: normal;
font-weight: 400;
margin: 0;
line-height: normal;
}
@media (max-width: 1400px) {
    .ProjectContainer{
        width: 430px;
    }

}
@media (max-width: 1300px) {
    .ProjectContainer{
        width: 400px;
    }

}
@media (max-width: 1250px) {
    .ProjectContainer{
        width: 350px;
        min-height: 400px;
        gap: 10px;
    }

}
@media (max-width: 1170px) {
    .ProjectContainer{
        width: 330px;
        min-height: 380px;
        gap: 10px;
    }

}
@media (max-width: 1070px) {
    .ProjectContainer{
        width: 310px;
        min-height: 330px;
        gap: 10px;
    }

}
@media (max-width: 500px) {
    .ProjectContainer{
        width: 100%;
        height: auto;
        padding: 0 0 20px 0;
        border: 0px;
        border-radius: 0;
        align-items: center;
        gap: 10px;
    }
    .ProjectHeader{
        width: 95%;
        
    }
    .widgets{
        width: 95%;
    }
    .copyWidget{
        display: none;
    }
    .tags{
        width: 95%;
    }
    .description{
        width: 95%;
    }
}