#Projects{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.projectWrap{
    width: 65%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}
@media (max-Width: 1700px) {
    .projectWrap{
        width: 70%;
    }
}
@media (max-Width: 1600px) {
    .projectWrap{
        width: 75%;
    }
}
@media (max-Width: 1480px) {
    .projectWrap{
        width: 80%;
    }
}
@media (max-Width: 1385px) {
    .projectWrap{
        margin-top: 10%;

        width: 85%;
    }
}
@media (max-Width: 1285px) {
    .projectWrap{
        width: 90%;
    }
}
@media (max-Width: 1215px) {
    .projectWrap{
        width: 95%;
    }
}
@media (max-Width: 1185px) {
    .projectWrap{
        width: 95%;
        gap: 25px;
        /* padding: 20px; */
    }
}
@media (max-Width: 1100px) {
    .projectWrap{
        margin-top: 10%;

        width: 92%;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }
}